* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #EAE7F2;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 32px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.content-wrap {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

header {
  background-color: #fff;
  height: 60px;
  padding: 0px 20px;
  margin-bottom: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04), 0px 14px 24px rgba(0, 0, 0, 0.07);
}

.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.more-btn {
  background: #6E41E2;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 40px;
}

.btn.main {
  padding: 5px 25px;
  background: #6E41E2;
  border-radius: 10px;
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

body .btn.main:hover {
  background-color: #7a59dc;
  color: #fff;
}

.btn.main:active {
  border: 0px;
}

input[type=text], input[type=email], input[type=password], textarea {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  position: relative;
  margin-bottom: 32px;
}

.subtitle:before {
  content: "";
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}
